html, body { height: 100%; margin: 0; padding: 0; }
#main-map { height: 100%; }

#main-menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

#close-menu-btn {
  position: absolute;
  right: 5%;
  top: 2%;
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}

#open-menu-btn {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 20px;
  background-color: red;
  z-index: 1;
}
