html, body { height: 100%; margin: 0; padding: 0; }
#main-map { height: 100%; }

#main-menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  z-index: 1;
}

.open-menu-btn {
  height: 100%;
  width: 30px;
  background-color: red;
  border: 0;
}

.header {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  height: 40px;
}
